.container {
  background-color: var(--white);
  display: flex;
  border-radius: 0.8rem;
  padding: 1rem;
  position: relative;
}

.actions {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.btn {
  bottom: 0;
  max-width: 10rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-next {
  background-color: var(--marine-blue);
  color: var(--white);
  right: 0;
}

.btn-next:hover {
  filter: brightness(120%);
}

.btn-prev {
  margin-right: 2rem;
  opacity: 0.6;
}

.btn-prev:hover {
  opacity: 1;
}
